NODE_ENV=
API_HOST=
PORT=
USERNAME=postgres
PASSWORD=
DATABASE=authentic
HOST=localhost
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_DAYS=7

GOOGLE_SPREADSHEET_ID=
GOOGLE_SPREADSHEET_RANGE=A2:J
